<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="style2.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<title>Blind Studios</title>
</head>
<body>
<div class="container">
	<!-- Nav Bar 
	<nav class="w3-sidebar 
							w3-bar-block  : on the items - 	width:100%;
																							display:block;
																							padding:8px 16px;
																							text-align:left;
																							border:none;
																							white-space:normal;
																							float:none;
																							outline:0
							w3-small : font-size 12px;
							w3-hide-small : display none?
							w3-center : text-align:center
							">
			-->
	
	<nav>
		<div class="sidebar">
			<!-- Avatar image in top left corner -->
			<img src="../main-logo_trans.png" style="width:100%">
			
			<div class="sidebar-items">
				<a href="#" class="sidebar-item">
					<i class="fa fa-home xxlarge"></i>
					<p>HOME</p>
				</a>
				<a href="#about" class="sidebar-item">
					<i class="fa fa-user xxlarge"></i>
					<p>ABOUT</p>
				</a>
				<a href="#photos" class="sidebar-item">
					<i class="fa fa-eye xxlarge"></i>
					<p>PHOTOS</p>
				</a>
				<a href="#contact" class="sidebar-item">
					<i class="fa fa-envelope xxlarge"></i>
					<p>CONTACT</p>
				</a>
			</div>
		</div>
	</nav>

	<div class="content">
		
	</div>

</div>
</body>
</html>